@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap');
body{
    margin: 0;
    font-family: 'Merriweather', serif;
    font-weight: normal;
    background:url(assets/background-cover.png);
     position: relative;
}
 
.nav-bar{
    display: inline-block;
    position: absolute;
    top: 1.5%;
}

.logo{
    margin-right: 250px;
}
.lists{
    display: inline-block;
    margin-right: 200px;
    /* margin-bottom:50%; */
}
.lists a{
    color:rgb(255, 190, 69);
    text-decoration: none;
    margin-top: 0px;
    margin-right: 60px;
}

.btn{
    background:  #ff4949;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
}

.main-text{
    position: absolute;
    top:12%;
    /* width: 100%; */
    /* padding-top: 0px; */
}
.creap{
    margin: 0px  auto 0px auto ;
    color:rgb(255, 190, 69);
    width: 50%;
    font-size: 2rem;
}

.btn1{
    background:  #ff4949;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    margin-left:40%;
}



.scroll-img{
    position: absolute;
    right:20px;
    bottom:10px;
}

img:hover{
    transform: perspective(1.09);
}